body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

#header-title {
  font-size: 25px;
}

#header-des {
  background-color: #222;
  height: 160px;
  padding: 20px;
  color: white;
}

#dog-icon {
  width: 96px;
  height: 96px;
  margin-left: 15px;
}

#portfolio-title {
  margin: 0;
  font-size: 25px;
  height: 50px;
  padding: 10px;
  text-align: left;
  background-color: #222;
  color: white;
}

#folder-logo {
  padding-left: 10px;
}

#about-des {
  background-color: #222;
  font-size: 15px;
  height: 300px;
  padding: 40px;
  color: white;
}

.button {
  position: relative;
  margin: auto;
  padding: 10px;
  display: inline-block;
}

.col-md-2 {
  background-color: #222;
  height: 1600px;
}

.portfolio-image {
  text-align: left;
  bottom: 50px;
}

.left-img {
  float: left;
  padding:2px;
  border:2px solid #021a40;
  background-color:#00BFFF;
  margin-left: 35px;
  margin-bottom: 20px;
}

.right-img {
  float: right;
  padding:2px;
  border:2px solid #021a40;
  background-color:#00BFFF;
  margin-right: 35px;
  margin-bottom: 20px;
}

#nudge-img {
  height: 687px;
  width: 381px;
}

#left-title {
  float: left;
  width: 50%;
  padding-left: 35px;
}

#right-title {
  float: right;
  width: 50%;
  padding-left: 30px;
}

#font-padding {
  padding-left: 10px;
}
