/* Global */
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.button {
  position: relative;
  margin: auto;
  padding: 10px;
  display: inline-block;
}

.col-md-2 {
  background-color: #222;
  height: 1540px;
}

/* Header */
#header-title {
  font-size: 25px;
}

#header-des {
  background-color: #222;
  height: 160px;
  padding: 20px;
  color: white;
}

#dog-icon {
  width: 96px;
  height: 96px;
  margin-left: 15px;
}


/* Portfolio */
#portfolio-title {
  margin: 0;
  font-size: 25px;
  height: 50px;
  padding: 10px;
  text-align: left;
  background-color: #222;
  color: white;
}

#folder-logo {
  padding-left: 10px;
}

.portfolio-image {
  text-align: left;
  bottom: 50px;
}

.left-img {
  border:2px solid #021a40;
  background-color:#00BFFF;
  height: 687px;
  width: 381px;
  float: left;
  margin-left: 35px;
  margin-right: 35px;
}

.right-img {
  border: 2px solid #021a40;
  background-color:#00BFFF;
  height: 687px;
  width: 381px;
  float: right;
  margin-right: 35px;
  margin-left: 20px;
}

.titleContainer-left {
  float: left;
  display: table;
}

.titleContainer-right {
  position: relative;
  margin-left: 10px;
  display: table;
}

#left-title {
  float: left;
  padding-left: 35px;
}

#right-title {
  float: left;
  position: relative;
  width: 381px;
  margin-left: 30px;
}

#font-padding {
  padding-left: 10px;
}

.imageContainer-left {
  float: left;
  position: relative;
  width: 381px;
  height: 687px;
  margin-right: 35px;
}

.imageContainer-right {
  float: right;
  position: relative;
  width: 381px;
  height: 687px;
  margin-left: 35px;
}

.imageContainer-left .after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
}

.imageContainer-right .after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
}

.imageContainer-left:hover .after {
  display: block;
  background: rgba(0, 0, 0, .6);
  margin-left: 35px;
  color: white;
  text-align: center;
}

.imageContainer-right:hover .after {
  display: block;
  background: rgba(0, 0, 0, .6);
  margin-left: -35px;
  color: white;
  text-align: center;
}

.after h3 {
  color: white;
  display: inline-table;
  vertical-align:middle;
  line-height:100%;
  margin-top: 50%;
}

.mtop-50 {
  margin-top: 50px;
}

@media (max-width: 1290px) {
  .imageContainer-right {
    margin-top: 50px;
    margin-left: 70px;
    float: left;
  }

  .titleContainer-right {
    float:left;
  }

  .col-md-2 {
    background-color: #222;
    height: 3010px;
  }
}

/* AboutMe */
#about-des {
  background-color: #222;
  font-size: 15px;
  height: 300px;
  padding: 40px;
  color: white;
}
