/* Text */
@import url('https://fonts.googleapis.com/css?family=Alegreya SC');
@import url('https://fonts.googleapis.com/css?family=Contrail One');
@import url('https://fonts.googleapis.com/css?family=Vijaya');

/* SCSS */
$gray: #A9A9A9;

%alegreya-SC {
  font-family: 'Alegreya SC';
  font-weight: bold;
}

%portfolio-images {
  border:2px solid #021a40;
  background-color:$gray;
  height: auto;
  max-width: 100%;
  transition: .5s ease;
  backface-visibility: hidden;
  opacity: 1;
}

/* Global */
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  width: 100%;
  height: auto;
}

html {
  min-height: 100%;
}

.button {
  position: relative;
  margin: auto;
  padding: 10px;
  display: inline-block;
}

.bottom10 { 
  padding-bottom:30px; 
}

.side-padding10 {
  padding-right: 10%;
  padding-left: 10%;
}

/* Background */
/* length of each slide in seconds */
.slideshow,
.slideshow:after {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  z-index: 0;
}

.slideshow{
  li{
    list-style: none;

    span{
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0px;
      left: 0px;
      color: transparent;
      background-size: cover;
      background-position: 50% 50%;
      background-repeat: none;
      opacity: 0;
      z-index: 0;
      animation: imageAnimation 36s linear infinite 0s; 
    }

    div{
      z-index: 1000;
      position: absolute;
      bottom: 30px;
      left: 0px;
      width: 100%;
      text-align: center;
      opacity: 0;
      color: #fff;
    
      animation: titleAnimation 36s linear infinite 0s; 
    }
  }

  /* add and remove new slides here, maintaning the animation-delay format */
  li:nth-child(1) span{
    background-image: url("../assets/Flat_Lay4_Bg.jpeg");

  }
  li:nth-child(2) {
    span{
      background-image: url("../assets/Starlight_Bg.jpg");
      animation-delay: 6s; 
    }
    div{
      animation-delay: 6s; 
    }
  }
  
  li:nth-child(3){
    span{
      background-image: url("../assets/Flat_Lay_Bg.jpeg");
      animation-delay: 12s; 
    }
    div{
      animation-delay: 12s; 
    }
  } 

  li:nth-child(4) {
    span{
      background-image: url("../assets/Flat_Lay3_Bg.jpeg");
      animation-delay: 18s; 
    }
    div{
      animation-delay: 18s; 
    }
  }
  li:nth-child(5){
    span{
      background-image: url("../assets/White_Bg.jpeg");
      animation-delay: 24s; 
    }
    div{
      animation-delay: 24s; 
    }
  } 
  li:nth-child(6){
    span{
      background-image: url("../assets/Flat_Lay2_Bg.jpeg");
      animation-delay: 30s; 
    }
    div{
      animation-delay: 30s; 
    }
  } 
}

/* animation for the slideshow images */
@keyframes imageAnimation { 
  0% { opacity: 0; animation-timing-function: ease-in; }
  8% { opacity: 1; animation-timing-function: ease-out; }
  17% { opacity: 1 }
  25% { opacity: 0 }
  100% { opacity: 0 }
}

.no-cssanimations .slideshow li span{
	opacity: 1;
}

/* Header */
#header-title {
  font-size: 25px;
  margin: 30px;
  padding-top: 20px;
  padding-right: 10%;
  padding-left: 10%;
}

#dog-icon {
  width: 96px;
  height: 96px;
  margin-left: 15px;
}

#header-name {
  @extend %alegreya-SC;
  font-size: 40px;
}

#under-header-name {
  @extend %alegreya-SC;
  font-size: 30px;
}


#header-des {
  font-family: "Vijaya", Arial, sans-serif;
  font-style: italic;  
  padding-right: 20%;
  padding-left: 20%;
}

/* Portfolio */
#portfolio-title {
  @extend %alegreya-SC;
  margin: 0;
  font-size: 30px;
  width: 100%;
  height: 100px;
  padding-top: 50px;
  padding-bottom: 60px;
  text-align: center;
  background-color: $gray;
}

#portfolio-bg {
  background-color: $gray;
  height: 100px;
  padding-top: 50px;
  padding-bottom: 60px;
}

#folder-logo {
  padding-left: 10px;
}

.portfolio-image {
  text-align: left;
  bottom: 50px;
}

#dojo-img{
  width: 90%
}

.left-img {
  @extend %portfolio-images;
}

.right-img {
  @extend %portfolio-images;
}

.left-img-container:hover .left-img {
  opacity: 0.2;
  transform: scale(0.9);
}

.right-img-container:hover .right-img {
  opacity: 0.2;
  transform: scale(0.9);
}

.left-img-container:hover .middle {
  opacity: 1.2;
}

.right-img-container:hover .middle {
  opacity: 1.2;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

#font-padding {
  padding-left: 10px;
}

.after h3 {
  color: white;
}

.mtop-50 {
  margin-top: 50px;
}

/* AboutMe */
#about-header-title {
  @extend %alegreya-SC;
  font-size: 35px;
  margin: 0;
  height: 60px;
}

.img-circle {
  border-radius: 50%;
  height: 200px;
  width: 200px;
  margin-bottom: 20px;
}

#about-des {
  background-color: $gray;
  font-size: 15px;
  height: auto;
  width: 100%;
  padding-top: 20px;
}

#aboutMe-des {
  font-family: "Vijaya", Arial, sans-serif;
  font-size: 15px;
}

/* Nav Bar */
.nav {
  @extend %alegreya-SC;
  font-size: 17px;
  height: 30px;
  background-image: linear-gradient(#A9A9A9, #A9A9A9 60%, #A9A9A9);
  background-repeat: no-repeat;
  border-bottom: 1px solid gray;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
  border-radius: 0px;
}

.navbar-fixed-top {
  height: 30px; 
}

.navbar-default {
  background-color: gray;
  border-color: $gray;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    background-color: $gray;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
 background-color: $gray;
}

.navbar-default .navbar-toggle {
 border-color: $gray;
}

.btn-margin {
  margin-left: 15px;
  margin-top: 4px;
}
